@media (max-width: 84em) {
  .section-hero {
    margin-bottom: 20rem;
    height: 70vh;
  }

  .menu {
    display: none;
  }
}

@media (max-width: 69em) {
  .section-hero {
    height: 50vh;
  }

  .images .img .img {
    width: 40rem;
  }

  .images {
    gap: 12rem;
  }

  .c2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
    padding: 0 20rem;
    margin-top: 2rem;
  }

  .btn {
    font-size: 1.5rem;
    padding: 2rem 3rem;
  }

  .c1 {
    display: none;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding-left: 14rem;
  }

  .catergory-container {
    gap: 2rem;
  }

  .section-cta .container {
    padding: 4rem 9rem;
    width: 80%;
  }

  .section-cta {
    padding: 4rem 3rem;
  }

  .section-cta .cta-action {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    position: static;
  }

  .section-cta .cta-form input {
    flex: 1;
    min-width: 0;
    border-radius: 3rem;
  }

  .section-cta .cta-button,
  .section-cta .cta-buttons {
    position: static;
    margin-left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 3rem;
  }

  .c3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20;
    max-width: 32rem;
    margin: 0 auto;
    padding: 3rem 1rem;
    border-radius: 3rem;
    text-align: center;
    background-color: #3b3b3b;
  }

  .c4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 1rem;
  }

  .number {
    display: none;
  }

  .c3 img {
    width: 8rem;
    margin: 0 auto 1rem;
  }

  .c3 h2 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }

  .c3 p {
    font-size: 1.3rem;
  }
}

@media (max-width: 56em) {
  .menu {
    display: block;
    width: 40px;
    height: 40px;
  }

  .main-nav-list {
    display: none;
  }

  .section-hero .heading-primary {
    font-size: 3.5rem;
    line-height: 4rem;
  }

  .section-hero .hero-description {
    font-size: 1.4rem;
  }

  .section-hero {
    padding: 3rem 2rem;
    gap: 0rem;
    height: 25rem;
  }

  .images .img .img {
    width: 30rem;
  }

  .images {
    gap: 9rem;
  }

  .btn {
    font-size: 1.5rem;
    padding: 2rem 3rem;
  }

  .c1 {
    display: none;
  }

  .c2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
  }

  .catergory .catergory-image {
    width: 15rem;
  }

  .catergory-container {
    gap: 2rem;
  }
}

@media (max-width: 48em) {
  .menu {
    display: block;
    width: 40px;
    height: 40px;
  }

  .main-nav-list {
    display: none;
  }

  .section-hero .heading-primary {
    font-size: 3.5rem;
    line-height: 4rem;
  }

  .section-hero .hero-description {
    font-size: 1.4rem;
  }

  .section-hero {
    padding: 3rem 2rem;
    gap: 0rem;
    height: 25rem;
  }

  .images .img .img {
    width: 30rem;
  }

  .images {
    gap: 9rem;
  }

  .btn {
    font-size: 1.5rem;
    padding: 2rem 3rem;
  }

  .c1 {
    display: none;
  }

  .c2 {
    grid-template-columns: repeat(2rem, 4fr);
  }

  .catergory .catergory-image {
    width: 15rem;
  }

  .catergory-container {
    gap: 2rem;
  }
}

@media (max-width: 22.5em) {
  .section-hero {
    flex-direction: column;
    display: flex;
    gap: 4rem;
    padding-top: 30rem;
    padding-left: 4rem;
    height: 20vh;
  }

  .images {
    flex-direction: column;
  }
}
