* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
}

body {
  line-height: 1;
  font-weight: 400;
  color: #fff;
  background-color: #2b2b2b;
  font-family: "Work Sans", sans-serif;
}

.header {
  padding: 3rem 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head a {
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.main-nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.main-nav-links {
  background-color: #a259ff;
  padding: 1.5rem 2rem;
  border-radius: 1.3rem;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
}

.icon {
  width: 1.6rem;
  margin-right: 0.5rem;
}

.icons {
  width: 2.2rem;
  margin-right: 0.9rem;
}

.menu {
  display: none;
}

.footer-content {
  justify-content: center;
  display: flex;
  gap: 10rem;
  background-color: #3b3b3b;
  padding: 2rem 0rem;
  padding-top: 4rem;
}

.footer-text h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.footer-text p {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: #858584;
}

.footer-ends {
  justify-content: center;
  gap: 10rem;
  background-color: #3b3b3b;
  padding: 2rem 0rem;
}

.footer-ends hr {
  margin: 0rem 15rem;
  color: #858584;
}

.footer-ends p {
  padding-left: 15rem;
  font-size: 13px;
  margin-top: 2rem;
  color: #858584;
}

.cta-forms input,
.cta-forms select {
  width: 100%;
  padding: 1rem;
  font-size: 1.8rem;
  border-radius: 12px;
  margin: 0.5rem 0rem;
  border-radius: 3rem;
  padding: 1.5rem 2rem;
}

.cta-forms {
  width: 35rem;
  margin-bottom: 1rem;
}

.cta-forms button {
  background-color: #a259ff;
  color: #fff;
  font-size: 1.8rem;
  border-radius: 3rem;
  padding: 1.5rem 2rem;
  border: none;
  width: 100%;
}

.about .about-img {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 70vh;
}

.about .about-contents {
  display: flex;
  padding: 3rem 9rem;
  justify-content: space-between;
}

.about .about-content {
  width: 40rem;
}

.about .about-content .about-text {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.about .about-content .about-info .heading {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  font-weight: 400;
  color: #858584;
}

.heading {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  font-weight: 400;
  color: #858584;
}

.headings {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
  color: #858584;
}

.about .about-content .about-info p {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.about .about-content .about-info p .about-globe {
  width: 2rem;
}

.about .about-content .about-info {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.about-btn {
  background-color: #858584;
  list-style: none;
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  border-radius: 3rem;
  padding: 1rem 2rem;
  border: none;
}

.about-btn:hover {
  background-color: #a259ff;
}

.about-tags {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.about-header {
  margin-bottom: 2rem;
  align-items: center;
  gap: 1rem;
}

.about-header h2 {
  font-size: 1.6rem;
  font-weight: 400;
  color: #858584;
}

.about-header p {
  font-size: 1.4rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.about-header p .cr {
  width: 2rem;
}

.c2 {
  margin-bottom: 2rem;
}

.c2 p {
  font-size: 1.4rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.c2 h1 {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 1rem;
  font-size: 3rem;
}

.info .info-container .info-content {
  padding: 15rem 10rem;
}

.info .info-container .inform-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(59, 59, 59, 0.6);
  border-radius: 3rem;
  padding: 2rem 3rem;
  height: 15rem;
  margin-top: 30rem;
  margin-right: 10rem;
}

.info .info-container .inform-content p {
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
}

.inform-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(59, 59, 59, 0.6);
  border-radius: 3rem;
  padding: 2rem 3rem;
  height: 23rem;
}

.inform-text p {
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
}

.inform-text .inform-btn {
  background-color: #a259ff;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 1rem;
  text-decoration: none;
  text-align: center;
  padding: 1.5rem 2rem;
  border: none;
}

.inform-image-container h1 {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.inform-image-container p {
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.inform-header {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.top-rank-img {
  width: 27rem;
}

.top-rank-content {
  background-color: rgba(59, 59, 59, 0.6);
  border-radius: 3rem;
  width: 27rem;
}

.top-ranked-content {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 1rem 2rem;
}

.top-ranked-content h1 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.top-ranked-content p {
  font-size: 1.3rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.c4 {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  gap: 2rem;
  align-items: center;
}

.rank-content p {
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.rank-content h2 {
  font-size: 1.4rem;
  font-weight: 400;
}

.tops-rank-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 4rem;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}

.top-rank-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 48rem;
  padding: 5rem 2rem;
}

.top-rank-container h1 {
  font-size: 3rem;
  font-weight: 400;
}

.top-rank-container a {
  font-size: 1.3rem;
  font-weight: 300;
  border: #a259ff 2px solid;
  padding: 1rem 2rem;
  border-radius: 1.2rem;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 1024px) {
  .header {
    padding: 2rem 4rem;
  }

  .about .about-contents {
    padding: 4rem;
    gap: 4rem;
  }

  .about .about-content {
    width: 100%;
    max-width: 55rem;
  }

  .top-rank-container {
    justify-content: space-between;
    gap: 2rem;
  }

  .footer-content {
    gap: 4rem;
    padding: 4rem;
  }

  .footer-ends hr {
    margin: 0 4rem;
  }

  .footer-ends p {
    padding-left: 4rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 56.25%;
  }

  /* HEADER */

  .header {
    padding: 1.6rem 2rem;
  }

  .main-nav-list {
    display: none;
  }

  .menu {
    display: block;
    width: 2.4rem;
    height: 2.4rem;
  }

  .menu svg {
    width: 100%;
    height: 100%;
  }

  /* HERO IMAGE */

  .about .about-img {
    height: 35rem;
    object-fit: cover;
  }

  /* CONTENT */

  .about .about-contents {
    flex-direction: column;
    padding: 3rem 2rem;
    gap: 3rem;
  }

  .about .about-content {
    width: 100%;
    order: 2;
  }

  /* AUCTION CARD */

  .inform-text {
    width: 100%;
    max-width: 32rem;
    order: 1;
    margin: 0 auto;
  }

  .inform-header {
    justify-content: center;
  }

  /* TAGS */

  .about-tags {
    flex-wrap: wrap;
  }

  /* SECTION TITLE */

  .top-rank-container {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    text-alidisplay: none;
    gn: center;
  }

  .top-rank-container h1 {
    font-size: 3rem;
  }

  /* NFT CARDS */

  .tops-rank-container {
    gap: 2rem;
    margin-bottom: 2rem;
  }

  .top-rank-content:nth-last-child(3) {
    display: none;
  }

  .top-rank-content {
    width: 100%;
    max-width: 32rem;
  }

  .top-rank-img {
    width: 100%;
    display: block;
  }

  .c4 {
    gap: 1rem;
  }

  /* FOOTER */

  .footer-content {
    flex-direction: column;
    padding: 3rem 2rem;
    gap: 3rem;
  }

  .cta-forms {
    width: 100%;
  }

  .footer-ends hr {
    margin: 0 2rem;
  }

  .footer-ends p {
    padding-left: 2rem;
  }
}

@media (max-width: 480px) {
  .header h1 {
    font-size: 1.4rem;
  }

  .icons {
    width: 1.8rem;
  }

  .about .about-img {
    height: 28rem;
  }

  .c2 h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
  }

  .c2 p {
    font-size: 1.6rem;
  }

  .heading,
  .headings {
    font-size: 2rem;
  }

  .about-text {
    font-size: 1.6rem !important;
    line-height: 1.8 !important;
  }

  .inform-text {
    max-width: 100%;
  }

  .inform-image-container h1 {
    font-size: 3rem;
  }

  .inform-image-container p {
    font-size: 1.2rem;
  }

  .top-rank-container {
    align-items: stretch;
    text-align: left;
  }

  .top-rank-container a {
    text-align: center;
  }

  .top-rank-content {
    max-width: 70%;
  }

  .top-rank-img {
    max-width: 40rem;
  }

  .about-btn {
    display: inline-block;
    margin-bottom: 1rem;
  }

  .cta-forms input {
    font-size: 1.4rem;
  }
}

/* Default */
.main-nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* Mobile */
@media screen and (max-width: 480px) {
  .header {
    position: relative;
  }

  .menu {
    display: block;
    width: 30px;
    cursor: pointer;
  }

  .main-nav-list {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #3b3b3b;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0;

    display: none;
    z-index: 999;
  }

  .main-nav-list.active {
    display: flex;
  }

  .main-nav-links {
    width: 80%;
    justify-content: center;
  }
}
